#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.content {
  display: flex !important;
  align-items: start !important;
  justify-content: start;
}
.subtitle {
  width: 240px;
  height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  color: #3083ff;
}
.principalContent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #ffffff;

  position: absolute;
  width: 100%;
  height: 79px;
  /* left: 0px; */
  right: 0;
  top: 0px;

  background: #352e56;
}
.time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #f2f0ff;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  color: #f2f0ff;
}
.card {
  cursor: pointer;
  border-radius: 16px;
  padding: 16px;
  max-width: 500px;
  background: #221c3e;
}
.blue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.sub {
  margin-bottom: 16px;
}

.persons {
  max-width: 472px;
}

.profilePic {
  height: 79px;
  z-index: -1;
}

.fontNormal {
  font-size: 16px;
}

.content {
  padding: 16px;
  border-radius: 16px;
  max-width: 1fr;
  min-height: 71px;

  margin-bottom: 8px;

  background: #221c3e;
  border: 2px solid #383353;
}
.content svg {
  align-self: center;
  justify-self: center;
}

.backgroundProfile {
  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
}

.backgroundProfile svg {
  margin-top: -12px;
}
.contenFont {
  width: 200px;
  text-align: start;
  margin-right: 12px;
}
.description {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  text-align: left;
  text-align: initial;
  /* identical to box height, or 12px */

  color: #aca6cf;
}
.tela {
  height: 100vh;
  width: 100vw;
}
.tela .ant-col {
  width: 100vw;
}
.trilhaHeader {
  padding: 16px 24px;
  min-width: 272px;
  background-color: #3083ff;
  font-family: "Consolas";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  height: 61px;

  display: flex;
  align-items: center;
  justify-content: start;

  color: #ffffff;

  /* Inside auto layout */
}
.trilhaHeader span {
  margin: 16px 0 16px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subHeader {
  padding: 16px 24px;
  width: 272px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: left;
  color: #ffffff;
  background: #352e56;
  margin-bottom: 8px;
}

.ant-progress-inner {
  background: rgba(255, 255, 255, 0.2) !important;
}
.cardTrilha {
  cursor: pointer;
  padding: 16px;
  background: #221c3e;
  border: 2px solid #383353;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  /* gap: 16px; */
}

.type {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #aaaaaa;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 8px;
}

.custom-syntax-highlighter {
  white-space: pre-wrap !important;
  overflow-x: auto !important;
  max-width: 100% !important;
}
.trilhaContent {
  text-align: left;
  max-width: 247px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* or 19px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.trilha {
  padding: 0 24px 80px 24px;
}

.divTrilha {
  margin-left: 16px;
}

.vertical {
  border-left: 2px solid #383353;
  height: 775px;
  position: absolute;
  left: 50%;
}

.cardTrilha .ant-row {
  align-items: center;
}

.card * {
  cursor: pointer;
}
.atividades {
  padding-bottom: 80px;
}
.atividadeText {
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  margin-bottom: 27px;

  color: #ffffff;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90vw;
  z-index: 2;
}

.codeText {
  background: #110d24;

  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  padding: 16px;
  display: flex;
  align-items: start;
  justify-content: left;
  text-align: left;
  margin-top: 32px;

  color: #ffffff;
}

.colored {
  color: #ff3e95;
}

.quizz {
  background: #172e66 !important;
  color: #00a3ff !important;
  border: none !important;
}

.success {
  background-color: #27c36f !important;
  color: #ffffff !important;
}

.error {
  background-color: #e07900 !important;
}
.ant-radio-button-wrapper .css-dev-only-do-not-override-w8mnev::before {
  display: none !important;
}
