#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.content {
  display: flex !important;
  align-items: start !important;
  justify-content: start;
}
.subtitle {
  width: 240px;
  height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  color: #3083ff;
}
.principalContent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #ffffff;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #ffffff;

  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
  top: 0px;

  background: #352e56;
}
.time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  color: #f2f0ff;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  color: #f2f0ff;
}
.card {
  border-radius: 16px;
  padding: 16px;
  max-width: 500px;
  background: #221c3e;
}
.blue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.sub {
  margin-bottom: 16px;
}

.persons {
  max-width: 472px;
}

.profilePic {
  height: 79px;
  z-index: -1;
}

.fontNormal {
  font-size: 16px;
}

.content {
  padding: 16px;
  border-radius: 16px;
  width: 372px;
  min-height: 71px;

  margin-bottom: 8px;

  background: #221c3e;
  border: 2px solid #383353;
}
.content svg {
  align-self: center;
}

.backgroundProfile {
  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  text-align: left;
  text-align: initial;
  /* identical to box height, or 12px */

  color: #aca6cf;
}
